docker.enabled = true

params{
	read = "/home/simon/input/ARR10055512_1.fq"
	fasta = "/home/simon/input/homo_sapiens.fa"
	gtf = "/home/simon/input/ref-transcripts.gtf"
	baseDir = "/home/simon/GitHub/rnaseq-ba"
	split = 10
	outdir = "/home/simon/results_star_test_1"
	threads = Runtime.runtime.availableProcessors()
}

process{
	withLabel: fastp{
	container = 'nanozoo/fastp'
	}
	withLabel: samtools{
	container = 'staphb/samtools'
	}
	withLabel: python{
	container = 'amancevice/pandas'
	}
	withLabel: star{
        container = 'nfcore/rnaseq:1.4.2'
	}
}	

report {
	enabled = true
	file = '_report_star_test_1.html'
}
